DATABASE_HOST=postgres
DATABASE_PORT=5432
DATABASE_NAME=your_database_name
DATABASE_USERNAME=your_db_user
DATABASE_PASSWORD=your_secure_password
POSTGRES_USER=your_postgres_user
POSTGRES_PASSWORD=your_postgres_password
POSTGRES_DB=your_database_name
